/* 
&display=swap
&subset=cyrillic-ext 
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 14px;
	/* по умолчанию */
}

body {
	line-height: 1;
	color: #000;
	background-color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.wrapper {
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;

	max-width: 1440px;
}

/* ------------------------------ */


/* HEADER */


.header__wrapper {
	min-height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 130px;
}

.header {
	background-color: #181818;
}

.header__logo {
	min-width: 130px;
}


/* Main navigation */

.header__menu {
	display: flex;
	align-items: center;
}

.header__menu-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.header__menu-item-title {
	color: #fff;
	margin: 0 60px 0 0;
	font-size: 13px;

}

.header__menu-item:not(:last-child) {
	margin: 0 30px 0 0
}

.header__menu-item {
	font-size: 15px;
}

.header__menu-item a {
	color: #fff;
}

.header__menu-item_active {
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.4px;
}

.header__menu-item_active a {
	color: #000;
}



/* PHOTO CONTENT BLOCK */

.photo-content {
	background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
}

.photo-content_theme_beach {
	min-height: 716px;
	background: url(../img/beach.jpg) center / cover;
}

.photo-content__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.photo-content__inner {}

.main-offer {
	align-self: center;
	text-align: center;
	max-width: 580px;
	margin: 0 0 10px 0;
}

.main-offer__subtitle {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.main-offer__title {
	font-size: 54px;
	line-height: 60px;
	margin: 0 0 15px 0;
}

.main-offer_text {
	line-height: 20px;
}

.photo-content__row {

	align-self: flex-end;
	padding: 10px 0 0 0;
	display: flex;
	font-size: 12px;
	margin: 0 40px 40px 0;

}

.photo-content__exposure {
	background: url(../img/exp.png) left / auto 16px no-repeat;
	padding-left: 20px;
	min-height: 16px;
	margin: 0 15px 0 0;

}

.photo-content__membrane {
	background: url(../img/memb.png) left / 16px no-repeat;
	padding-left: 20px;
	min-height: 16px;
	margin: 0 15px 0 0;
}

.photo-content__iso {
	background: url(../img/iso.png) left / auto 16px no-repeat;
	padding-left: 38px;
	min-height: 16px;
	margin: 0 15px 0 0;
}

.photo-content__location {
	background: url(../img/loc.png) left / auto 16px no-repeat;
	padding-left: 16px;
	min-height: 16px;
	margin: 0 15px 0 0;
}


/* What we do Block */

.what-we-do {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 0;
}

.what-we-do_title {
	font-size: 40px;
	line-height: 42px;
	margin: 0 0 20px 0;
}

.what-we-do_subtitle {
	font-size: 23px;
	line-height: 30px;
	margin: 0 0 40px 0;
}

.what-we-do_items {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	max-width: 1200px;
	flex-wrap: wrap;
}

.what-we-do__item {
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-width: 49%;
	margin: 0 0 15px 0;
	padding: 430px 30px 0 30px;
}

.what-we-do__inner-title {
	margin: 0 0 18px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.what-we-do__inner-text {
	margin: 0 0 18px 0;
	line-height: 20px;
}

.btn {
	align-self: flex-start;
	color: #000;
	border-radius: 13px;
	padding: 10px 15px 10px 4px;
	background: #fff;
	margin: 0 0 30px 0;
}

.btn::before {
	content: "";
	background-color: #000;
	display: inline-block;
	vertical-align: middle;
	border-radius: 11px;
	width: 32px;
	height: 32px;
	margin: 0 10px 0 0;

}

.what-we-do__item_bg-product {
	background: url(../img/prod.jpg) center / cover no-repeat;
}

.what-we-do__item_bg-arch {
	background: url(../img/arch.jpg) center / cover no-repeat;
}

.what-we-do__item_bg-drone {
	background: url(../img/drone.jpg) center / cover no-repeat;
}

.what-we-do__item_bg-wild {
	background: url(../img/wild.jpg) center / cover no-repeat;
}


/* Photo content Sunset block */


.photo-content_theme_sunset {
	background: url(../img/sunset.jpg) center / cover no-repeat;


	min-height: 600px;
}

.offer {
	align-self: flex-end;

	padding: 0 55px 190px 0;
}

.offer__title {
	line-height: 20px;
	text-transform: uppercase;


}

.offer__text {
	max-width: 300px;
	line-height: 20px;
}